<ion-content  color="warning">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Crear cuenta</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  type="text" name="first" placeholder="Nombre" [(ngModel)]="first_name" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  type="text" placeholder="Apellido" [(ngModel)]="last_name" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  type="number" placeholder="Codigo" [(ngModel)]="code_person" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email" placeholder="your@uptc.edu.co" [(ngModel)]="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Repita contraseña" [(ngModel)]="passwordAgain" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button color="dark" size="large" (click)="register()" expand="block">Registrar</ion-button>
          </div>
        </ion-col>
        <ion-button color="dark" (click)="back()"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
      </ion-row>
    </ion-grid>
</ion-content>
