<ion-header>
    <ion-toolbar color="warning">
        <ion-item color="warning">
            <ion-avatar>
                <ion-img [src]="user.path_photo"></ion-img>
            </ion-avatar>
            <ion-label margin> {{ user.first_name }} {{ user.last_name}} </ion-label>
            <ion-icon name="more" (click)="presentPopover($event)"></ion-icon>
        </ion-item>
    </ion-toolbar>
</ion-header>
<ion-content scrollY="true">
    <ion-grid>
        <ion-row>
            <ion-col size="11" offset="0.5">
                <ion-card>
                    <ion-img src="../assets/report-img.jpg"></ion-img>
                    <ion-item color="warning">
                        <ion-label (click)="openReportPage()">Registrar problema</ion-label>
                        <ion-icon name="arrow-round-forward" (click)="openReportPage()"></ion-icon>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="11" offset="0.5">
                <ion-card>
                    <ion-img [src]="user.path_photo"></ion-img>
                    <ion-item color="warning">
                        <ion-label (click)="openMyReportsPage()">Mis noticias</ion-label>
                        <ion-icon name="arrow-round-forward" (click)="openMyReportsPage()"></ion-icon>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="11" offset="0.5">
                <ion-card>
                    <ion-img src="../assets/wall-img.jpg"></ion-img>
                    <ion-item color="warning">
                        <ion-label (click)="openReportsWallPage()">Muro de noticias</ion-label>
                        <ion-icon name="arrow-round-forward" (click)="openReportsWallPage()"></ion-icon>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
