<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title >Muro de reportes</ion-title>
    <ion-icon name="refresh" size="large" color="tertiary" slot="end" padding (click)="refreshPost()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light" *ngFor="let post of posts" lines="none" margin>
    <ion-card-content>
      <ion-card-subtitle>
        <h3> {{ post.first_name + ' ' + post.last_name}}</h3>
      </ion-card-subtitle><br>
      <ion-slides pager="true" [options]="slideOptions">
        <ion-slide *ngFor="let photo of post.photos">
          <img [src]="'data:image/jpeg;base64,' + photo.img" alt="Imagen no disponible">
        </ion-slide>
      </ion-slides>
      <ion-text class="ion-text-center">
        <h4 class="ion-padding-vertical"> {{ post.title }} </h4>
      </ion-text>
      <ion-row>
        <ion-fab-button color="secondary" size="small"><ion-icon name="thumbs-up"></ion-icon></ion-fab-button>
        <ion-fab-button color="dark" size="small"><ion-icon name="chatbubbles"></ion-icon></ion-fab-button>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="refresh($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
