ion-card {
  padding-bottom: 45%;
  padding-top: 25%;
  background-image: linear-gradient(to right, rgba(207,166,36,0), rgba(207,166,36,0.6), rgba(207,166,36,0));
}
ion-text {
  font-size: 30px;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
  color: aliceblue;
}

